.cform {
    width: 100%;
    display: table;
    background-color: rgba(0,0,0,.6);
    border-radius: 8px;
    padding: 33px 28px;
    box-shadow: 0 0 33px 4px rgba(0,0,0,.45);
    margin: 20px 0px;
}
.cform-txt{color: #fff;}

#why-we{
    background: var(--gray);
}
#sertif{
    background: var(--gray);
}
#accordion{
    max-width: 900px;
    margin: 0 auto 0;
    padding: 20px 0 0 0;
}
.l-blue {
    background-color: var(--l-blue)!important
}

.inverse p,.inverse td,a,h5,label {
    color: #fff
}

main {
    background-color: var(--blue);
    padding-top: 20px;
    margin-top: 52px;
}
h2{
    margin-top: 0;
}
#bgimage {
    background-image: url(img/bg.jpg)
}

.dushbord__form{max-width:380px;
 min-width:280px; 
 height:450px;
 background-color:rgba(0,0,0,0.6);
    border-radius:8px;
    padding:33px 38px;
    box-shadow:0px 0px 33px 4px rgba(0, 0, 0, 0.45);

}
#position_form{
   margin: 20px 0px; 
   height: 390px;
}
.dushbord__form_header-cform{color:#fff;margin-bottom:30px;margin-top:0;font-size:28px;}
.dushbord__form_header{color:#fff;margin-bottom:-10px;margin-top:0;font-size:28px;margin-bottom: 10px;}

@media screen and (max-width:425px){
section{
    padding: 0;
}
.tv_container {
    max-height: 220px !important;
    max-width: 295px !important;
}
.videof {
    top: 12px !important;
    width: 86% !important;
    height: 66% !important;
    left: 12px !important;
}

}
@media screen and (max-width:767px){


.dushbord__form_header{font-size:22px;}
.dushbord__form{height:430px;}

.tv_container {
    max-height: 295px;
    max-width: 380px;
}
.videof {
    top: 16px !important;
    width: 91% !important;
    height: 67% !important;
    left: 18px !important;
}

}
.dushbord__form_label{color:#fff;}
.dushbord__form_input-cform{height:44px;margin:15px;border:none;border-radius:5px;padding-left:15px;}
.dushbord__form_input{width:100%;height:44px;margin-bottom:15px;border:none;border-radius:5px;padding-left:15px;}
.dushbord__form_submit{width:150px;color:#fff;border:none;padding-left:15px;border-radius:30px;float:left;height:44px;background-color:#d86b44;box-shadow:0 1px 0 0 #000;-webkit-animation:transform-pulse 1500ms linear 0ms infinite normal;-moz-animation:transform-pulse 1500ms linear 0ms infinite normal;-ms-animation:transform-pulse 1500ms linear 0ms infinite normal;animation:transform-pulse 1500ms linear 0ms infinite normal;}
.dushbord__form_submit:hover{background-color:#c35027;box-shadow:none;}
@-webkit-keyframes transform-pulse{0%{-webkit-transform:rotate(0deg);}
50%{-webkit-transform:rotate(0deg) scale(1.1,1.1);}
100%{-webkit-transform:rotate(0deg);}
}
@-moz-keyframes transform-pulse{0%{-moz-transform:rotate(0deg);}
50%{-moz-transform:rotate(0deg) scale(1.1,1.1);}
100%{-moz-transform:rotate(0deg);}
}
@-o-keyframes transform-pulse{0%{-o-transform:rotate(0deg);}
50%{-o-transform:rotate(0deg) scale(1.1,1.1);}
100%{-o-transform:rotate(0deg);}
}
@-ms-keyframes transform-pulse{0%{-ms-transform:rotate(0deg);}
50%{-ms-transform:rotate(0deg) scale(1.1,1.1);}
100%{-ms-transform:rotate(0deg);}
}
@keyframes transform-pulse{0%{transform:rotate(0deg);}
50%{transform:rotate(0deg) scale(1.1,1.1);}
100%{transform:rotate(0deg);}
}
.card_title{
    height: 55px;
}
.laptop{
    max-width: 600px;
    max-height: 600px;
    position: absolute;
}
.video_iframe{
    max-width: 576px;
    max-height: 345px;
/*    position: absolute;
    left: 40px;
    top: 24px;*/
}

.tv_container {
        margin: auto;
    background: url(img/laptop.png) no-repeat top left transparent;
    background-size: contain;
    width: 578px;
    height: 440px;
    position: relative;
    z-index: 1;
}
.videof {
    position: absolute;
    top: 23px;
    width: 532px;
    height: 300px;
    left: 23px;
}

/*#calcgbo{padding-left: 80px;}
#video-forma{padding-left: 80px;}*/