:root {
    --red: #BF5756;
    --l-red: rgba(202,27,27,.85);
    --d-red: #7e2323;
    --blue: #4A69A2;
    --l-blue: #0f38e1
    --font: #2d2d2d;
    --in-font: #fff;
    --gray:#E6E6E6;
}
body {font-family: Arial, sans-serif;}
p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #000
}
#myNavmenu .nav > li, #myNavmenu .nav> li> a {width: 100%;}
.navbar-nav {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%)
}

h1,h2,h3,h4,h5,h6 {
    font-family: Arial, sans-serif;
    color: var(--font)
}

header {
    text-align: center;
    z-index: 1;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,.28);
    background: #e6e6e6
}

section {
    padding-bottom: 15px
}

#top {
    background-color: rgba(104,113,168,.24)
}

body nav .navbar {
    border-radius: 0!important
}

nav {
    font-size: 16px !important;
    background-color: var(--red);
    width: 100%;
    top: 0;
    z-index: 3;
    box-shadow: 0 4px 8px rgba(0,0,0,.28)
}

.inverse p,.inverse a, h5,label,.inverse h3,.inverse h2, .inverse h1 {
    color: var(--in-font)
}

a {
    text-decoration: none
}

.row {
    text-align: center;
    margin-left: 0!important;
    margin-right: 0!important
}

.navbar {
    margin-bottom: 0
}

@media (max-width:770px) {
    #navbar {
        display: none
    }

    #why-we .row:last-child {
        width: 100%
    }
    header {height: 0px !important}
    main {margin-top: 0px !important}

}

nav .navbar-toggle {
    background-color: #fff
}

/*шапка*/
header {
    height: 90px;
}

#top_nav {
    top: 90px;
 /*высота шапки в пикселях*/
    position: fixed;
    z-index: 1000;
}

.wrapper {padding: 0 !important;
}

.navbar-toggle {position: fixed; right: 0px; top:15px !important; background-color: var(--red); z-index: 5}
.navbar-toggle .icon-bar {background-color: #fff;}

.topper{margin-top:33px;margin-bottom:33px;}
.topper div{padding:0;}
.topper__contact{float:right;min-width:218px;}
.topper__contact > p{margin-top:0;font-size:14px;text-shadow:1px 1px 3px rgba(0, 0, 0, 0.4);}
.topper__contact strong, .topper__contact a, .topper__contact a:hover{color:#fff;}
.topper__phone-icon{width:45px;height:45px;-webkit-background-size:contain;background-size:contain;float:left;}
.topper__phone-icon:before{font-family:FontAwesome;content:"\f095";font-size:20px;padding:5px 8px;line-height:40px;border:2px solid #fff;border-radius:50%;color:#e66838;background:#fff;box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);}
.topper__address-icon{width:45px;height:45px;-webkit-background-size:contain;background-size:contain;float:left;}
.topper__address-icon:before{font-family:FontAwesome;content:"\f041";font-size:20px;padding:5px 10px;line-height:40px;border:2px solid #fff;border-radius:50%;color:#e66838;background:#fff;box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);}
.topper__logo{width:205px;height:60px;z-index:10;background:url("img/lg11.png") no-repeat;-webkit-background-size:contain;background-size:contain;}